.button {
    min-width: fit-content;
    background-color: transparent;
    color: var(--color-white);
    height: 3rem;
    padding: 0 1rem;
    border-radius: 500px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    position: relative;
    overflow: hidden;
    transition: 0.4s ease;
    box-sizing: border-box;
}

.button::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--color-button);
    border-radius: 500px;
    z-index: -2;
}

.button-shadow {
    position: absolute;
    inset: -1rem;
    border-radius: 12rem;
    background: conic-gradient(
        from 0deg,
        transparent 0deg,
        transparent 60deg,
        rgb(112, 0, 106) 0deg,
        rgba(6, 0, 6, 0.9) 40deg,
        rgba(250, 0, 237, 0.88) 180deg,
        transparent 180deg,
        transparent 360deg
    );
    pointer-events: none;
    z-index: -1;
    filter: blur(2rem);
}

.buttonOutline {
    min-width: fit-content;
    border: 2px solid var(--color-button);
    color: var(--color-black);
    height: 2.3rem;
    padding: 0 1rem;
    border-radius: 500px;
    cursor: pointer;
    font-size: 16px;
    background-color: transparent;
    transition: 0.4s ease;
    box-sizing: border-box;
}
.button:hover {
    color: var(--color-white);
    background-color: var(--color-black);
}

:root[data-theme="dark"] .button:hover {
    color: var(--color-black);
    background-color: var(--color-white);
}
:root[data-theme="dark"] .buttonOutline:hover {
    color: var(--color-black);
    background-color: var(--color-white);
    border: 2px solid var(--color-white);
}
:root[data-theme="dark"] .buttonOutline {
    color: var(--color-white);
}
.buttonOutline:hover {
    background-color: var(--color-button);
    color: var(--color-white);
}

/* Draggg */
.dragConfirmTrack {
    position: absolute;
    width: 100%;
    min-width: 20rem;
    max-width: 30rem;
    bottom: 0;
    border-radius: 62rem;
    background: var(--color-white);
    display: flex;
    align-items: center;
    padding: 0.25rem;
    user-select: none;
    overflow: hidden;
    z-index: 100;
    height: 2.5rem;
    transition: background 0.3s ease;
}

.dragConfirmTrack.confirmed {
    background: #22c55e;
}

.dragConfirmThumb {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: #111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
    z-index: 2;
    transition: background 0.2s ease;
}

.dragConfirmThumb.confirmed {
    background: #22c55e;
}

.dragConfirmText {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 0.875rem;
    color: #000000;
    pointer-events: none;
}

@media screen and (max-width: 48rem) {
    .dragConfirmTrack {
        width: 100%;
        min-width: 21.5rem;
        max-width: 21.5rem;
    }
}
