.button {
    min-width: fit-content;
    background-color: #e63980;
    color: white;
    padding: 0.75rem 1rem;
    border-radius: 500px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    border: 2px solid #e63980;
}
.buttonOutline {
    min-width: fit-content;
    border: 2px solid #e63980;
    color: white;
    padding: 0.75rem 1rem;
    border-radius: 500px;
    cursor: pointer;
    font-size: 16px;
    background-color: transparent;
}
.button:hover {
    background-color: #eee;
    color: #000;
    border: 2px solid #eee;
}
.buttonOutline:hover {
    background-color: #e63980;
    color: white;
}
