.button {
    background-color: #e63980;
    color: white;
    padding: 10px 20px;
    border-radius: 500px;
    cursor: pointer;
    font-size: 16px;
    border: none;
}
.buttonOutline {
    border: 2px solid #e63980;
    color: white;
    padding: 10px 20px;
    border-radius: 500px;
    cursor: pointer;
    font-size: 16px;
    background-color: transparent;
}
.button:hover {
    background-color: #eee;
    color: #000;
}
.buttonOutline:hover {
    background-color: #e63980;
    color: white;
}
