.navbar {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 100rem;
    z-index: 1000;
}

.navLeftSection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.userTypeButtons {
    position: relative;
    display: flex;
    gap: 0.5rem;
    background-color: transparent;
    border-radius: 12rem;
    padding: 0.25rem;
    backdrop-filter: blur(1rem);
    background-color: var(--color-overlay-hover);
}

.userTypeButtonIndicator {
    position: absolute;
    top: 0.25rem;
    left: 0;
    height: calc(100% - 0.5rem);
    background: var(--color-gradient-primary);
    border-radius: 12rem;
    z-index: 0;
}

.userTypeButton {
    position: relative;
    z-index: 1;
    padding: 0.4rem 1rem;
    border-radius: 12rem;
    font-size: 0.875rem;
    cursor: pointer;
    border: none;
    background: transparent;
    color: var(--color-text-primary);
    font-weight: 500;
    transition: color 0.3s ease;
}

.userTypeButton:hover {
    background-color: var(--color-overlay-hover);
}

.userTypeButton.active {
    background: var(--color-gradient-primary);
    color: var(--color-white);
}

.userTypeButton:focus {
    outline: none;
}
