.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}
.logoImage {
    width: 28px;
    height: auto;
    margin-left: 2rem;
    margin-top: 2rem;
}
.navLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    margin-right: 2rem;
}
.navLink {
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    color: #f9e6f2;
    transition: color 0.3s ease;
}
.navLink:hover {
    color: #ff007f;
}
.navLink.active {
    color: #ff007f;
    text-decoration: underline;
    text-underline-offset: 4px;
}
.menuButton {
    display: none;
}

@media screen and (max-width: 600px) {
    .navLinks {
        display: none;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        background-color: #181421;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100dvh;
    }
    .menuButton {
        display: block;
        background: none;
        border: none;
        color: #f9e6f2;
        font-size: 2rem;
        margin-right: 1rem;
        cursor: pointer;
        z-index: 1001;
    }
    .navLink {
        font-size: 2.5rem;
        padding-left: 2rem;
    }
    .navLink:first-child {
        margin-top: 6rem;
    }
    .logoImage {
        margin-left: 1rem;
    }
}

@media (prefers-color-scheme: light) {
    .navLink {
        color: #0b0914;
    }
}
