.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 10rem;
}
.title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    padding: 0 1rem;
}

.offerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
}
.offerActions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}
.offerText {
    font-size: 1.125rem;
    max-width: 42rem;
    font-weight: 500;
    margin-bottom: 1rem;
    opacity: 0.85;
    text-align: center;
}
.inputField {
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border: 2px solid #ff007f;
    border-radius: 14rem;
    outline: none;
    width: 100%;
    max-width: 300px;
    background-color: transparent;
}

@media screen and (max-width: 768px) {
    .homeContainer {
        flex-direction: column;
        height: auto;
        margin-top: 14rem;
    }

    .workersImage {
        width: 80%;
        margin-bottom: 2rem;
    }
    .imagesContainer {
        display: none;
    }
    .offerActions {
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
    }
    .inputField {
        width: 100%;
        min-width: 20rem;
    }
}
