.homeContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: hidden;
}
.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
.imagesContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -10;
    width: 100%;
    height: 34rem;
    max-width: 14rem;
    margin-top: auto;
    margin-bottom: 2rem;
    overflow-y: hidden;
}
.appImages {
    position: absolute;
    width: 100%;
    max-width: 14rem;
    transform-origin: bottom left;
    overflow-y: hidden;
}

.offerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
}
.offerActions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
}
.offerText {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 1rem;
    opacity: 0.85;
}
.inputField {
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border: 2px solid #ff007f;
    border-radius: 14rem;
    outline: none;
    width: 100%;
    max-width: 300px;
    background-color: transparent;
}
@media screen and (max-width: 1022px) {
    .imagesContainer {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .homeContainer {
        flex-direction: column;
        padding: 1rem;
        height: auto;
        overflow-y: hidden;
    }
    .textContainer {
        height: 100%;
    }
    .workersImage {
        width: 80%;
        margin-bottom: 2rem;
    }
    .imagesContainer {
        display: none;
    }
}
