@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

:root {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: #f9e6f2;
    background-color: #0b0914;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #f9e6f2;
    text-decoration: inherit;
}

a:hover {
    color: #e30b65;
}

body {
    position: relative;
    margin: 0 auto;
    display: flex;
    place-items: center;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    max-width: 1280px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2rem;
    line-height: 1.1;
    margin: 0;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #0b0914;
        background-color: #f9e6f2;
    }
    a:hover {
        color: #e30b65;
    }
    button {
        background-color: #e63980;
    }
}
