@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

:root {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    /* Color variables */
    --color-text-primary: #f9e6f2;
    --color-bg-primary: #0b0914;
    --color-primary: #ff007f;
    --color-primary-hover: #e30b65;
    --color-primary-variant: #ff4da6;
    --color-button: #e63980;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-overlay-light: rgba(249, 230, 242, 0.1);
    --color-overlay-hover: rgba(255, 0, 127, 0.2);
    --color-border: #f0f0f0;
    --color-gradient-primary: linear-gradient(135deg, #ff007f, #ff4da6);

    color: var(--color-text-primary);
    background-color: var(--color-bg-primary);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: var(--color-text-primary);
    text-decoration: inherit;
}

a:hover {
    color: var(--color-primary-hover);
}

html {
    overflow-x: hidden;
}

body {
    position: relative;
    margin: 0;
    width: 100%;
    min-width: 320px;
}

.main-content {
    position: relative;
    z-index: 1;
    background-color: var(--color-bg-primary);
    margin-bottom: 10rem;
    min-height: 100vh;
    width: 100%;
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 3.2rem;
    line-height: 1.1;
    margin: 0;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        --color-text-primary: #0b0914;
        --color-bg-primary: #f9e6f2;
        color: var(--color-text-primary);
        background-color: var(--color-bg-primary);
    }
    a:hover {
        color: var(--color-primary-hover);
    }
    button {
        background-color: var(--color-button);
    }
}
@media screen and (max-width: 768px) {
    .main-content {
        margin-bottom: 15rem;
    }
}
